
*{
    font-size: 1.2vw;
    /* background-color: rgb(44, 33,33); */
}
#body{
    display: inline;
}
#head{
    width: 100%;
    height: 3%;


}
#head>h1{
    text-align: center;
    color: rgb(155, 112, 19);
   
}
#head_nave{
 margin-left: 72%;
    
 
}
.dropdown{
  
    margin-left: 82%;
    

}
#head_nave>nav>ul{
  
    display: flex;
    
    



    list-style-type: none;



}
#head_nave>nav>ul>li{
    margin-bottom: 12%;
    margin-right: 30%;
    
}
#left_nav{
    background-color:#3D9970;
    width: 15%;
   
    

}
#left_nav>nav{
    width: 100%;
    

}

#left_nav>nav>ul>li>a>img{

    width: 60%;
   
    
}
#left_nav>nav>ul>li{
    
    margin-top: 15%;
    list-style-type: none;
   
    
}
#left{
    width: 100%;
    
    position: absolute;
    display: flex;    
}
#table_view{
    margin-left: 10%;
    position: absolute;
    left: 12%;
    right: 12%;
    top: 12%;
   
    
  
   


}
#table_view>table, th, td {
  border: 1px solid black;
}
#table_view>table{
    color: rgb(59, 70, 80);
    border: 1px solid black;
 
    margin-left: 3  2px;
    position: absolute;
    left: 12%;
    right: 12%;
    top: 22%;


}
/* thise is for the table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/* thise is for drop down mwnu */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  #left_nav>nav>ul>li:hover{
    margin-left: 5%;
    
   
    
}
#table_view{
    display: block;
}
#button{
    margin-top: 6%;
   margin-left: 40%;


}
#buttons{
    display: flex;
}
#btn{
    margin-left: 90%;
    background-color: #B10DC9;
    color: white;

}


