.button{
    -fx-background-color: ;
    -fx-border-color: transparent;
    -fx-background-color: #0f88ee;

}
.button:hover{
    -fx-background-color: #929292;
    -fx-text-fill: white;
}
.button:focused{
}
.button.pressed{
-fx-text-fill: white;
}
